/* navbar */
.nav-item {
  padding: 0px 20px;
}

.navbar {
  padding-top: 50px;
  padding-bottom: 150px;
}

.VersionContainer{
    padding: 10px;
    margin: 0;
    background-color: #e5e0ff;
    border-radius:50px;
    text-align: center;
    width: 280px;
    font-size: 15px;
}

#title {
  padding-bottom: 50px;
  background-image: linear-gradient(to bottom, #f9f9f9, #f4f3f9, #edeef9, #e6e9fa, #dee4fa);
  clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);
}

#quote {
  background-image: linear-gradient(to bottom, #f9f9f9, #f4f3f9, #edeef9, #e6e9fa, #dee4fa);
  clip-path: polygon(0 20%, 100% 0%, 100% 80%, 0% 100%);
}

.container-fluid {
  padding: 10px 250px 110px 250px;
}

/* title first container */
.title-btn {
  margin-top: 20px;
}

.textbtn {
  text-decoration: none;
  color: #007bff;
}

/* feature section */
#features {
  padding: 0px 250px;
  margin-top: 100px;
}

.feature-h1 {
  margin-bottom: 50px;
  margin-top: 20px;
}

.feature-img {
  margin: 20px 0px;
}

.feature1 {
  text-align: center;
  margin-bottom: 60px;
}

.feature2 {
  margin-bottom: 100px;
}

.row-div {
  margin-right: 0px;
  margin-left: 0px;
}

/* product */
.product-text {
  padding: 0px 0px;
}

.img308 {
  width: 510px;
}

.product-row {
  margin: 100px auto auto auto;
  padding-left: 0px;
  padding-right: 0px;
}

.img1 {
  padding-left: 0px;
  padding-right: 0px;
}

.img2 {
  padding-left: 0px;
  padding-right: 0px;
}

.ProductBtn{
  padding: 10px;
  margin-top: 20px;
  background-color: #e5e0ff;
  border-radius:60px;
  text-align: center;
  width: 180px;
  font-size: 15px;
  color: rgb(0, 0, 0);
  font-size: 13px;
  border: white;
  margin-left: 5px;
}

.TeamBtn{
  padding: 10px;
  margin-top: 50px;
  background-color: #e5e0ff;
  border-radius:60px;
  text-align: center;
  width: 230px;
  font-size: 15px;
  color: rgb(0, 0, 0);
  font-size: 13px;
  border: white;
}

/* quote and logos */
.quote {
  margin-top: 80px;
  margin-bottom: 150px;
  padding-top: 110px;
  text-align: center;
}

.logo {
  margin: 15px 35px;
  width: 100px;
  height: 25px;
}

.man-img{
  width: 70px;
  height: 70px;
  margin-bottom: 10px;
}

/* Login */
/* text between horizontal line */
#login{
  padding-bottom:100px;
}
h6 {
  overflow: hidden;
  text-align: center;
  margin-right:45px;
}
h6:before,
h6:after {
  background-color: grey;
  content: "";
  display: inline-block;
  height: 1px;
  position: relative;
  vertical-align: middle;
  width: 50%;

}
h6:before {
  right: 0.5em;
  margin-left: -50%;

}
h6:after {
  left: 0.5em;
  margin-right: -50%;

}

.img-companies{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

/* login */
.Company{
  margin-bottom: 55%;
}

.Sign-up-page{
  float: right;
  text-align: center;
  margin-right: 18%;
  border: none;

}

.Sign-up-page .container{
  position: relative;
  display: inline-block;
  border: none;
  box-shadow: 1px 3px 0px 0px rgba(156,122,201,0.14);
-webkit-box-shadow: 1px 40px 0px 20px rgba(156,122,201,0.14);
-moz-box-shadow: 1px 0px 0px 0px rgba(156,122,201,0.14);
  background-color: white;
  border: .1px solid #f0f0f0;
}

.Sign-up-page .container h3{
  font-size: 33px;
  font-weight: bolder;
  margin-top: 30px;
  margin-bottom: 30px;
}

.Sign-up-page .container input{
  height: 35px;
  width: 250px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  font-size:large;
  font-weight:400;
  border-radius: 6px;
  border: 1px solid rgb(63, 63, 63) ;
  color: rgb(63, 63, 63);;
  margin-left: 10px;
  margin-right: 10px;
}

.Sign-up-page .container .Free-trail-btn{
  background-color:#722ED1;
  color: white;
  height: 60px;
  width: 100%;
  border-radius: 6px;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
}

.Sign-up-page .Sign-in-Btn{
  height: 55px;
  width: 250px;
  border-radius: 6px;
  border: none;
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 20px;
  background-color: #4081EC;
  color: white;
  margin-right: 5px;
}

.Sign-in-Btn .Sign-in{
  margin :5px;
}

.Sign-up-page .Sign-in-Btn img{
  width: 50px;
  height: 50px;
  margin-right: 10px;
  border-radius: 4px;
}


/* last section */
#last-section {
  background-image: linear-gradient(to bottom, #f9f9f9, #f4f3f9, #edeef9, #e6e9fa, #dee4fa);
  padding-top:50px;
}
h5{
  text-align: center;
}
ul{
  list-style-type: none;
}
li{
  line-height:2
}
a{
  text-decoration: none;
  color: black;
}


/* newsletter last section */
.form-control{
  border-right:0px;
}
.submit-img{
  padding-left:10px;
  padding-top:8px;
}
